RewriteEngine on

#RewriteBase /somewhere/far/beyond

RewriteRule ^$ index.php [L] 
RewriteCond $1 !^(index\.php|resource|js|css|icons|images|system|user_guide|robots\.txt|favicon\.ico) 
RewriteRule ^(.*)$ index.php/$1 [L] 

